body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: content;
}


#list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}